{define title}{$article->title}{/define}
{define description}{$article->description}{/define}
{block content}
{$article->content|noescape}
<br />
<h2>Comments:</h2>
{foreach $comments as $comment}
    <div class="comment">
        <h3>{$comment->ref('user', 'user_id')->username} wrote at {$comment->timestamp}:</h3>
        <p>{$comment->content}</p>
    </div>
{/foreach}