{define title}Administration{/define}
{define description}Web administration.{/define}
{block content}
<p>Welcome in the control centre!</p>
<h2><a n:href=":Core:Article:editor">Article editor</a></h2>
<h2><a n:href=":Core:Article:list">Article <list></list></a></h2>