{define title}Administration{/define}
{define description}Web administration.{/define}
{block content}
    {if $admin}
        <p n:if="$admin">Hello {$username}, welcome in the control centre!</p>
        <h2><a n:href=":Core:Article:editor">Article editor</a></h2>
        <h2><a n:href=":Core:Article:list">Article list</a></h2>
    {else}
        <p>You are not allowed to be here. Ask admin for permissions or return to homepage</p>
    {/if}