{define title}Login{/define}
{define description}{/define}
{block content}
{control loginForm}
<p>If you still have not user account, you can <a n:href=":Core:Administration:register">sign up</a>.</p>